<div class="flex mx-auto w-full">
  <div class="justify-center">
    <h1 class="text-4xl font-semibold my-5">Home page</h1>
    <ul>
      <li class="text-2xl my-3"><%= link_to 'Posts Page', posts_path %></li>
      <li class="text-2xl my-3"><%= link_to 'Word List', words_path %></li>
      <li class="text-2xl my-3"> <%= link_to 'About', about_path %></li>
      <li class="text-2xl my-3"> <%= link_to 'Contact', new_contact_path %></li>
    </ul>

    <div class="text-xl my-10">
    <% if current_user %>
      <%= button_to "Sign out", destroy_user_session_path, method: :delete %>
    <% end %>
    </div>
  </div>
</div>