<div class="mx-auto md:w-2/3 w-full">
  <h1 class="font-bold text-4xl mb-4">Confirm Contact</h1>

  <dl class="mb-5">
    <dt class="font-medium">Name:</dt>
    <dd class="mb-2"><%= @contact.name %></dd>
  </dl>

  <dl class="mb-5">
    <dt class="font-medium">Email:</dt>
    <dd class="mb-2"><%= @contact.email %></dd>
  </dl>

  <dl class="mb-5">
    <dt class="font-medium">Telephone:</dt>
    <dd class="mb-2"><%= @contact.telephone %></dd>
  </dl>

  <dl class="mb-5">
    <dt class="font-medium">Body:</dt>
    <dd class="mb-2"><%= @contact.body %></dd>
  </dl>

  <%= form_with(model: @contact, url: contacts_path, local: true, data: { turbo: false }) do |form| %>
    <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
    <%= hidden_field_tag "contact[name]", @contact.name %>
    <%= hidden_field_tag "contact[email]", @contact.email %>
    <%= hidden_field_tag "contact[telephone]", @contact.telephone %>
    <%= hidden_field_tag "contact[body]",  @contact.body %>
  <div class="flex gap-4 mt-4 mb-4">
    <%= form.button "送信", class: "rounded-lg py-3 px-5 bg-blue-600 text-white font-medium cursor-pointer" %>
    <%= form.button "戻る", value: 'back', class: "rounded-lg py-3 px-5 bg-gray-300 text-white font-medium cursor-pointer" %>
  </div>
  <% end %>
</div>
