<div class="mx-auto md:w-2/3 w-full">
  <h1 class="text-4xl font-semibold">Word List</h1>
    <div class="flex gap-20">
      <div class="my-8">
        <%= link_to 'Store New Word', new_word_path, { class: "btn btn-blue" } %>
      </div>

      <div class="items-end">
        <div>Import from CSV</div>
        <%= form_tag import_words_path, multipart: true do %>
          <%= file_field_tag :file %>
          <%= submit_tag "Upload", { class: "btn btn-blue" } %>
        <% end %>
      </div>
    </div>

    <div class="overflow-x-auto w-full">
      <table>
          <thead>
            <tr class="bg-gray-300">
              <th class="table-cell">Title</th>
              <th class="table-cell">Translation</th>
              <th class="table-cell">Description</th>
              <th class="table-cell" colspan=3>Actions</th>
            </tr>
          </thead>

          <tbody>
          <% @words.each do |word| %>
            <tr>
              <td class="table-cell"><%= word.title %></td>
              <td class="table-cell"><%= word.translation %></td>
              <td class="table-cell"><%= word.description %></td>
              <td class="table-cell"><%= link_to 'Show', word_path(word) %></td>
              <td class="table-cell"><%= link_to 'Edit', edit_word_path(word) %></td>
              <td class="table-cell"><%= link_to 'Delete', word_path(word), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %></td>
            </tr>
          <% end %>
          </tbody>
      </table>
    </div>
    <%== pagy_nav(@pagy) %>
</div>