<h1>Words listing page</h1>
<table>
    <thead>
      <tr>
        <th>Original</th>
        <th>Translation</th>
        <th>Actions</th>
      </tr>
    </thead>

    <tbody>
      <% @words.each do |word| %>
      <tr>
        <td><%= word.original %></td>
        <td><%= word.translation %></td>
        <td><%= link_to 'Show', word_path(word) %></td>
        <td><%= link_to 'Edit', edit_word_path(word) %></td>
        <td><%= link_to 'Delete', word_path(word.id), data: { "turbo-method": :delete } %></td>
      </tr>
    </tbody>
  <% end %>
</table>