<div class="mx-auto md:w-2/3 w-full">
  <h1 class="text-4xl font-semibold my-5">Detail</h1>

  <p><strong>Title: </strong><%= @word.title %></p>
  <p><strong>Translation: </strong><%= @word.translation %></p>
  <p><strong>Description: </strong><%= @word.description %></p>

  <div class="my-5">
    <%= link_to 'Edit', edit_word_path(@word) %>
    <%= link_to 'Delete', word_path(@word), data: { "turbo-method": :delete, turbo_confirm: 'Are you sure?' } %>
  </div>
  <div class="my-5">  
    <%= link_to 'Return to words listing', words_path %>
  </div>
</div>

