<div id="<%= dom_id post %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Caption:</strong>
    <%= post.caption %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Body:</strong>
    <%= post.body %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Allow comments:</strong>
    <%= post.allow_comments %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Show likes count:</strong>
    <%= post.show_likes_count %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Images:</strong>
    <% post.images.each do |image| %>
      <div><%= image_tag image %></div>
    <% end %>
  </p>

  <% if action_name != "show" %>
    <%= link_to "Show this post", post, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to "Edit this post", edit_post_path(post), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to 'Delete post', post, data: {turbo_method: :delete, turbo_confirm: 'Are you sure?'} %>
    <hr class="mt-6">
  <% end %>
</div>
