<div class="pt-10 mx-auto w-full md:w-2/3 px-4 py-8">
  <div class="flex justify-between items-center mb-5">
    <h1 class="font-semibold text-4xl">Posts</h1>
    <%= link_to "New post", new_post_path, class: "rounded-lg py-2 px-4 bg-blue-600 text-white inline-block font-medium" %>
  </div>

  <div id="posts" class="space-y-5">
    <% @posts.each do |post| %>
      <div class="card shadow-lg bg-white rounded-lg p-5">
        <div class="card-body">
          <h2 class="font-bold text-4xl mb-4">
            <%= link_to post.caption, post_path(post), class: "text-blue-600 hover:text-blue-800 underline" %>
          </h2>
          <p class="text-sm text-gray-500">
            <%= post.created_at.strftime("%B %d, %Y") %> Posted by <%= post.user.username %>
          </p>
          <p class="text-gray-700 mb-4 text-xl"><%= post.body %></p>

          <% if post.images.any? %>
            <div class="mt-4">
              <% post.images.each do |image| %>
                <img src="<%= url_for(image) %>" alt="Post Image" class="max-w-full rounded-lg" />
              <% end %>
            </div>
          <% end %>

          <p class="text-sm text-gray-500">Comments: <%= post.allow_comments ? 'Enabled' : 'Disabled' %></p>
        </div>
      </div>
    <% end %>
  </div>
</div>
