<div class="pt-10 mx-auto w-full md:w-2/3 px-4 py-8">
  <div class="flex justify-between items-center mb-5">
    <h1 class="font-semibold text-4xl"><%= link_to "Posts", posts_path, class: "text-blue-600 hover:text-blue-800" %></h1>
    <%= link_to "New post", new_post_path, class: "rounded-lg py-2 px-4 bg-blue-600 text-white inline-block font-medium" %>
  </div>

    <!-- タグ一覧 -->
  <div class="mb-6">
    <h2 class="font-semibold text-lg mb-2">Tags</h2>
    <div class="flex flex-wrap gap-2 mb-2">
      <% @tags.each do |tag| %>
        <%= link_to tag.name, posts_path(tag: tag.name), 
        class: "inline-block bg-gray-100 text-gray-700 rounded-full px-3 py-1 text-sm font-medium hover:bg-gray-200" %>
      <% end %>
    </div>
  </div>

  <div id="posts" class="space-y-5">
    <% @posts.each do |post| %>
      <div class="card shadow-lg bg-white rounded-lg">
        <div class="card-body p-4">
          <h2 class="font-bold text-4xl mb-2">
            <%= link_to post.caption, post_path(post), class: "text-blue-600 hover:text-blue-800" %>
          </h2>

            <% if post.tags.any? %>
              <div class="flex flex-wrap gap-2 mb-3">
                <% post.tags.each do |tag| %>
                  <%= link_to tag.name, posts_path(tag: tag.name),
                    class: "border border-gray-400 rounded-full px-3 py-1 text-sm text-gray-600 hover:bg-gray-100 hover:border-gray-500 transition" %>
                <% end %>
              </div>
            <% end %>

            <p class="text-sm text-gray-500">
              <%= post.created_at.strftime("%B %d %H:%m, %Y") %> Posted by <%= post.user.username %>
            </p>
            <div class="prose max-w-none">
              <%= simple_format(
                  linkify(post.body.to_s.split("\n\n").first),
                  {},
                  sanitize: false
                ) %>
            </div>

          <%= link_to "もっと読む", post_path(post), class: "text-blue-600 hover:text-blue-800" %>

          <p class="text-sm text-gray-500">Comments: <%= post.allow_comments ? 'Enabled' : 'Disabled' %></p>
        </div>
      </div>
    <% end %>
  </div>
  <div class="mt-6 flex">
    <%== pagy_nav(@pagy) %>
  </div>  
</div>
