<!DOCTYPE html>
<html>
  <head>
    <title>Wordlog</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body class="min-h-screen flex flex-col bg-blue-50">
    <%= render 'shared/flash' %>
    <%= render 'shared/navbar' %>
    <main class="container mx-auto px-5 pt-20">
      <%= yield %>
    </main>

    <% if Rails.env.development? %>
      <div class="bg-gray-100 text-red-500 p-4 rounded-lg">
        <%= debug(params) %>
      </div>
    <% end %>
    <%= render 'shared/footer' %>
  </body>
</html>
